{% extends 'base.html' %}
{% block content %}
<h2>Trail Cam Gallery</h2>
<a class="btn btn-primary" href="{{ url_for('trailcams.add') }}">Upload Photos</a>
<div class="row mt-3">
  {% for cam in cams %}
  <div class="col-md-3">
    <div class="card mb-3">
      <img src="{{ url_for('uploads', filename='trailcams/' + cam.filename) }}" class="card-img-top">
      <div class="card-body">
        <p class="card-text">{{ cam.location }} - {{ cam.date.strftime('%Y-%m-%d') }}</p>
        <p class="card-text">{{ cam.notes }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
